@import url("./right.css");
@import url("./left.css");

:root{
    --fundo: #120907;
    --left: #8550aa;
    --right: #dc9dda;
    --titulo: #eed6ed;
    --padrao: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--fundo);
}

.resume-contents {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}



