.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("../../img/intro-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 400px;
  color: #fff;
  display: flex;
  align-items: flex-end;
  padding-bottom: 36px;
}

.intro-conteudo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.intro-conteudo a {
  max-width: fit-content;
}

@media (max-width: 800px) {
  .intro {
    background: url("../../assets/img/intro-tablet.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    color: black;
  }

  .intro-conteudo a {
    box-sizing: border-box;
    padding: 12px 16px;
  }
}

@media (max-width: 600px) {
  .intro {
    height: 200px;
    padding-bottom: 16px;
    color: black;
  }

  .intro-conteudo {
    gap: 8px;
  }
}
