*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://cdn.pixabay.com/photo/2014/11/30/17/15/theater-551797_960_720.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* body > img {
  margin: 20px 15px;
} */

.container_todosFilmes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container_filme{
   padding: 2%;
   display: block;
   max-width: 30%;
}

img {
  max-height: 250px;
  max-width: 100%;
}

img:hover{
  transform: scale(1.2);
}

p{
  color: white;
}
