/*ESTILOS GENERALES PARA TODAS LAS VISTAS*/
body {
    height: 97vh;
    font-family: 'Inter', sans-serif;
}

main {
    height: 70%;
    position: relative;
}

.logo{
    margin: 1rem;
    width: 2rem;
    filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
    transition: 400ms;
}

.logo:hover {
    width: 2.2rem;
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
}

footer img {
    width: 30px;
    margin: 1.5em auto;
    transition: 400ms;
}

footer img:hover {
    width: 35px;
}

#copyright p {
    font-size: 12px;
    margin: 0 auto;
    font-weight: bold;
}

/*ESTILOS PARA OCULTAR ELEMENTOS*/
.section {
    display: block;
}

.ocultarSection {
    display: none;
}

.verLetra {
    color: #0A3871;
}

.ocultarLetra {
    color: transparent;
}

/*ESTILOS SECCIÓN VISTA INICIAL DEL MENU DEL Jogo*/
#inicio{
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteCentrado {
    width: 320px;
}

.botaoUniversal {
    width: 320px;
    height: 67px;
    margin: 1rem 0 1rem 0;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid #0A3871;
    background: #0A3871;
    border-radius: 24px;
    transition: 500ms;
}

.botaoUniversal:hover {
    color: #0A3871;
    background: #cccccc;
}

/*ESTILOS SECCIÓN VISTA DEL Jogo AHORCADO*/
#jogo {
    height: 100%;
}

#palavraSecreta {
    height: 65px;
}

#teclado {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tecla {
    width: 40px;
    height: 30px;
    font-size: 16px;
    margin: 2px 2px 2px 2px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #dddddd;
}

.tecla:hover {
    color: white;
    background: #0A3871;
    border: 1px solid #0A3871;
}

.containerBtnMenor{
    text-align: center;
}

.btnMenor{
    width: 150px;
    height: 40px;
}

/*ESTILOS SECCIÓN VISTA PARA Add palavraS SECRETAS*/
#vistapalavra {
    height: 100%;
}

#palavra {
    width: 100%;
    height: 150px;
    text-align: center;
    resize: none;
    outline: none;
    color: #000000;
    background-color: #ffffff00;
    border: 0;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
}

#palavra::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    color: #9f9d9d;
}

/*ESTILOS VENTANA FLOTANTE*/
#mensagemJogo {
    width: 300px;
    height: 200px;
    background-color: #cccccc;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.511);
    border: 1px solid rgba(205, 205, 205, 0.73);
}

#containerJanelaFlutuante {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#BtnJanelaFlutuante {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btnAceitar {
    width: 260px;
}

/*ESTILOS PARA palavra SECRETA*/
#contPalavraSecreta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contPalavraSecreta div {
    width: 25px;
    height: 30px;
    margin: 5px;
    border-bottom: 3px solid #0A3871;
    font-size: 25px;
    font-weight: bold;
}

.letra {
    margin: 0 10px;
    text-align: center;
}

.letra::after {
    content: ' ';
    display: block;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    min-width: 12px;
}

