@import url("./reset.css");
@import url("./responsivo.css");
@import url("./cabecalho.css");
@import url("./redes.css");
@import url("./sobre.css");
@import url("skill-hobbies.css");
@import url("./formacao.css");
@import url("./projetos.css");
@import url("./rodape.css");

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fcfcfc;
}

.logo {
    max-width: 1.5rem;
    max-height: 1.5rem;
    width: auto;
    height: auto;
}

.container {
    padding-right: 6%;
    padding-left: 6% ;
}

.botao {
    padding: .3rem .2rem;
    text-decoration: none;

    border-bottom: 2px solid #fcfc;
    border-radius: 5px;
}